<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="login-container-wrapper">
        <div class="login-container">
            <h2 id="label_SignIn">Sign In</h2>

            <form action="{% url 'login_process' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="form-group">
                    <label for="username" id="label_id">ID</label>
                    <input
                      type="text"
                      name="username"
                      id="username"
                      placeholder="Enter your ID"
                      required
                    />
                </div>
                
                <div class="form-group">
                    <label for="password" id="label_password">Password</label>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      placeholder="Enter your password"
                      required
                    />
                </div>
                {% if error %}
                <p style="color:red; height:20px;">{{ error }}</p>
                {% endif %}
                
                <!-- <div class="form-group" style="width:100%;padding:5px;"></div> -->
                <button type="submit" class="login-button">Sign in</button>
            </form>

            <div class="oauth-section">
                <!-- <p id="label_or">또는</p>
                <a href="/accounts/google/login/" class="google-login-btn">
                    <img src="{% static 'images/google_logo.png' %}" alt="Google Logo" />
                    <span id="label_google">Sign in with Google</span>
                </a> -->
            </div>

            <!-- 회원가입 버튼 추가 -->
            <div class="signup-section">
                <p id="label_account">Don't have an account?
                    <a href="../signup" class="signup-button" id="label_SignUp">Sign Up</a>
                </p>
            </div>

            
        
            <!-- 언어 선택 -->
            <div class="language-select">
                <label id="label_language" for="language">
                <select id="language" onchange="updateLanguage(this.value)">
                    {% for country in countries %}
                        <option value="{{ country.language }}">{{ country.language }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <script src="{% static 'js/login.js' %}" defer></script>
</body>
</html>
