<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <!-- 프로필 섹션 -->
    <!-- 클릭 시 이동: id="profileLink" -->
    <div class="language-section">
        <span style="font-size: 40px;">🌏</span>
        <label id="label_language" for="language">
        <select id="language" onchange="updateLanguage(this.value)">
            <option value="US" {% if settings.country_id == 'US' %}selected{% endif %}>English</option> 
            <option value="KR" {% if settings.country_id == 'KR' %}selected{% endif %}>한국어</option> 
            <option value="JP" {% if settings.country_id == 'JP' %}selected{% endif %}>日本語</option> 
            <option value="CN" {% if settings.country_id == 'CN' %}selected{% endif %}>简体字</option> 
        </select>
    </div>
    <div class="profile-section">
        <img class="nav-icon" id="nav-icon"
                data-light="{% static 'images/nav/nav_profile_light.png' %}" 
                data-dark="{% static 'images/nav/nav_profile_dark.png' %}" 
                src="{% static 'images/nav/nav_profile_light.png' %}" 
                style="width: 35px; height: 35px; cursor: pointer;">
        <span id="profileLink">
            {% if user.is_authenticated %}
                {{ user.username }}
            {% else %}
                {% if settings.country_id == "US" %}Sign In
                {% elif settings.country_id == "KR" %}로그인
                {% elif settings.country_id == "JP" %}サインイン
                {% elif settings.country_id == "CN" %}登入
                {% else %}Sign In{% endif %}
            {% endif %}
        </span>

        <!-- 팝업창 -->
        {% if user.is_authenticated %}
        <div id="profilePopup" class="popup hidden">
            <ul>
                <li>
                    <a href="/app/chatting/">                        
                        {% if settings.country_id == "US" %}Chattings
                        {% elif settings.country_id == "KR" %}채팅
                        {% elif settings.country_id == "JP" %}おしゃべり
                        {% elif settings.country_id == "CN" %}聊天{% endif %}
                    </a>
                </li>
                <li>
                    <a href="/app/favorites/">                        
                        {% if settings.country_id == "US" %}Bookmarks
                        {% elif settings.country_id == "KR" %}즐겨찾기
                        {% elif settings.country_id == "JP" %}お気に入り
                        {% elif settings.country_id == "CN" %}收藏夹{% endif %}
                    </a>
                </li>
                <li>
                    <a href="/app/settings/">                        
                        {% if settings.country_id == "US" %}Settings
                        {% elif settings.country_id == "KR" %}설정
                        {% elif settings.country_id == "JP" %}設定
                        {% elif settings.country_id == "CN" %}设置{% endif %}
                    </a>
                </li>
                <li>
                    <a href="/app/profile/">                        
                        {% if settings.country_id == "US" %}Profile
                        {% elif settings.country_id == "KR" %}내 프로필
                        {% elif settings.country_id == "JP" %}プロフィール
                        {% elif settings.country_id == "CN" %}轮廓{% endif %}
                    </a>
                </li>
                <li>
                    <a href="/logout/">                        
                        {% if settings.country_id == "US" %}Logout
                        {% elif settings.country_id == "KR" %}로그아웃
                        {% elif settings.country_id == "JP" %}ログアウト
                        {% elif settings.country_id == "CN" %}注销{% endif %}
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>

    <!-- 메인 컨테이너 -->
    <div class="container">
        <!-- 타이틀 -->
        <div class="title">SeouLogue</div>

        <!-- 입력 섹션 -->
        <div class="input-wrapper">
            <!-- 텍스트 입력란 -->
            <textarea 
                class="input-box" 
                placeholder="Search for a place or create a schedule"
                rows="2"
                maxlength="2000"
            ></textarea>
            <!-- 검은색 버튼 -->
            <button class="send-button" onclick="goToEnterPage()">🔍</button>
        </div>
        <!-- 추가된 문구 -->
        <div class="research-helper">
            {% if settings.country_id == "US" %}Search example: Can you make a schedule for 3 days in Yongsan-gu, \nJung-gu, Jongno-gu, and Gangnam-gu?
            {% elif settings.country_id == "KR" %}검색 예제: 용산구/중구/종로구/강남구의 2박 3일동안 일정을 만들어줘.
            {% elif settings.country_id == "JP" %}検索例: 龍山区/中区/鍾路区/江南区の2泊3日の日程を作ってくれる？
            {% elif settings.country_id == "CN" %}搜索示例: 龙山区/中区/钟路区/江南区能帮我安排3天2夜的日程吗？
            {% endif %}            
        </div>
    </div>
    <script>
        const isLoggedIn = {{ user.is_authenticated|yesno:"true,false" }};
        const name = `{{ user.username }}`;
        let countryId = "{{ settings.country_id|default:'US' }}";
    </script>
    <script src="{% static 'js/main.js' %}" defer></script>
</body>
</html>
