<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head> 
<body>
    <div class="signup-container-wrapper">
        <div class="signup-container">
            <h2 id="label_SignUp">Sign Up</h2>
            <form id="signup-form" onsubmit="submitSignup(event)">
                <div class="form-group">
                    <label for="username">ID</label>
                    <input type="text" id="username" name="username" placeholder="Enter your ID" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="password" id="label_password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password" id="label_confirm_password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" maxlength="20" required>
                </div>
                <!-- <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <input type="text" id="nickname" name="nickname" placeholder="Enter your nickname" maxlength="10" required>
                </div> -->
                <div class="form-group">
                    <label for="birthday" id="label_birthday">Birthday</label>
                    <input type="text" id="birthday" name="birthday" placeholder="YYYY-MM-DD" required>
                </div>
                <div class="form-group">
                    <label for="nationality" id="label_nationality">Nationality</label>
                    <select id="nationality" name="nationality" required>
                        <option value="" disabled selected>-------------------------------------------------------------------------------------</option>
                        {% for country in countries %}
                            <option value="{{ country.country_id }}">{{ country.country_name }}</option>
                        {% endfor %}
                    </select>
                </div>   
                <div class="form-group">
                    <label for="sex" id="label_gender">Gender</label>
                    <div class="radio-group">
                        <label>
                            <input type="radio" name="sex" value="male" required><span id="label_male">Male</span></input>
                        </label>
                        <label>
                            <input type="radio" name="sex" value="female"><span id="label_female">Female</span></input>
                        </label>
                        <label>
                            <input type="radio" name="sex" value="other"><span id="label_other">Other</span></input>
                        </label>
                    </div>
                </div>           
                <div class="alert"></div>
                <div class="form-group">
                    <button type="submit" id="label_signup">Sign Up</button>
                </div>
            </form>
            <p>
                <span id="label_account">Already have an account?</span> 
                <a href="../login" id="label_login">Log In</a>
            </p>

            <!-- 언어 선택 -->
            <div class="language-select">
                <label id="label_language" for="language"></label>
                <select id="language" onchange="updateLanguage(this.value)">
                    {% for country in countries %}
                        <option value="{{ country.language }}">{{ country.language }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/zh.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
    <script src="{% static 'js/signup.js' %}" defer></script>
</body>
</html>
