<!-- chatting.html -->
<head>
    {% load static %}
    <title>Chattings</title>
    <link rel="stylesheet" href="{% static 'css/chatting.css' %}">
</head>

<div class="container" id="chattingPanel">
    <div class="panel">
        <h2>Chattings</h2>
        <div class="top-menu"></div>

        <div id="chattingsSection" style="display: block;">
            <div class="chat-list">
                <!-- data-chat-id 로 구분 -->
                <div class="chat-item" data-chat-id="1">
                    <img src="{% static 'images/chat.png' %}" alt="chat" width="50px" height="50px">&nbsp;1번 채팅
                </div>
                <div class="chat-item" data-chat-id="2">
                    <img src="{% static 'images/chat.png' %}" alt="chat" width="50px" height="50px">&nbsp;2번 채팅
                </div>
                <div class="chat-item" data-chat-id="3">
                    <img src="{% static 'images/chat.png' %}" alt="chat" width="50px" height="50px">&nbsp;3번 채팅
                </div>
            </div>
        </div>
    </div>
</div>