<!-- chatting.html -->
<head>
    {% load static %}
    <title>Chattings</title>
    <link rel="stylesheet" href="{% static 'css/chatting.css' %}">
</head>

<div class="container" id="chattingPanel">
    <div class="panel">
        <h2>            
            {% if settings.country_id == "US" %}Chattings
            {% elif settings.country_id == "KR" %}채팅
            {% elif settings.country_id == "JP" %}おしゃべり
            {% elif settings.country_id == "CN" %}聊天{% endif %}
        </h2>
        <div id="chattingsSection" style="display: block; max-height: 754px;">
            <div class="chat-list">
                {% for chat in chattings %}
                    <div class="chat-item"
                         data-chat-id="{{ chat.chatting_id }}" 
                         data-chat-title="{{ chat.title|escape }}"> <!-- 제목 추가 -->
                         
                        <img src="{% if settings.is_white_theme %}{% static 'images/chat_light.png' %}{% else %}{% static 'images/chat_dark.png' %}{% endif %}"
                            alt="chat" width="50px" height="50px">
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ chat.title }} <!-- 채팅 제목 표시 -->

                        <img src="{% if settings.is_white_theme %}{% static 'images/delete_light.png' %}{% else %}{% static 'images/delete_dark.png' %}{% endif %}"
                            alt="delete" class="delete-icon" data-id="{{ chat.chatting_id }}">
                    </div>
                {% empty %}
                    <p style="color: #797979; text-align:center;">                        
                        {% if settings.country_id == "US" %}No Chat List
                        {% elif settings.country_id == "KR" %}채팅 목록이 없습니다.
                        {% elif settings.country_id == "JP" %}チャットリストはありません。
                        {% elif settings.country_id == "CN" %}没有聊天列表。{% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>

        <div class="toggle-button" id="toggleButton"><&nbsp;</div>
    </div>
</div>
