<!-- chatting.html -->
<head>
    {% load static %}
    <title>Chattings</title>
    <link rel="stylesheet" href="{% static 'css/chatting.css' %}">
</head>

<div class="container" id="chattingPanel">
    <div class="panel">
        <h2>Chattings</h2>
        <div id="chattingsSection" style="display: block;">
            <div class="chat-list">
                {% for chat in chattings %}
                    <div class="chat-item" data-chat-id="{{ chat.chatting_id }}">
                        <img src="{% if settings.is_white_theme %}{% static 'images/chat_light.png' %}{% else %}{% static 'images/chat_dark.png' %}{% endif %}"
                            alt="chat" width="50px" height="50px">
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ chat.title }}  <!-- title 표시 -->

                        <img src="{% if settings.is_white_theme %}{% static 'images/delete_light.png' %}{% else %}{% static 'images/delete_dark.png' %}{% endif %}"
                            alt="delete" class="delete-icon" data-id="{{ chat.chatting_id }}">
                    </div>
                {% empty %}
                    <p style="color: #797979; text-align:center;">
                        채팅 목록이 없습니다.
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>