<head>
    {% load static %}
    <title>Bookmarks</title>
    <link rel="stylesheet" href="{% static 'css/favorites.css' %}">
</head>

<div class="container" id="favoritesPanel">
    <div class="panel">
        <h2>Bookmarks</h2>

        <!-- 상단 “장소”, “일정” 버튼 -->
        <div class="top-menu">
            <button id="placeBtn">장소</button>
            <button id="scheduleBtn">일정</button>
        </div>

        <!-- (A) 장소 UI -->
        <div id="placesSection" style="display: block;">
            <div class="folder-list">
                {% for place in places %}
                <div class="folder-item" id="{{ place.bookmark }}">
                    <img src="
                            {% if settings.is_white_theme %}{% static 'images/folder_light.png' %}  
                            {% else %}{% static 'images/folder_dark.png' %}{% endif %}" 
                            alt="folder" width="50px" height="50px">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ place.title }}
                    <img src="
                            {% if settings.is_white_theme %}{% static 'images/delete_light.png' %}
                            {% else %}{% static 'images/delete_dark.png' %}{% endif %}" 
                            alt="delete" width="50px" height="50px" class="delete-icon" data-id="{{ place.bookmark }}">
                </div>
                {% endfor %}
                <div class="folder-item" id="plus-place">
                    <img src="
                            {% if settings.is_white_theme %}{% static 'images/plus_light.png' %}
                            {% else %}{% static 'images/plus_dark.png' %}{% endif %}" 
                            alt="plus" width="50px" height="50px">
                    &nbsp;&nbsp;&nbsp;&nbsp;새 폴더
                </div>
            </div>
        </div>

        <!-- (B) 일정 UI -->
        <div id="scheduleSection" style="display: none;">
            <div class="folder-list">
                {% for schedule in schedules %}
                <div class="folder-item" id="{{ schedule.bookmark }}">
                    <img src="
                            {% if settings.is_white_theme %}{% static 'images/schedule_light.png' %}
                            {% else %}{% static 'images/schedule_dark.png' %}{% endif %}" 
                            alt="schedule" width="50px" height="50px">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ schedule.title }}
                    <img src="
                            {% if settings.is_white_theme %}{% static 'images/delete_light.png' %}
                            {% else %}{% static 'images/delete_dark.png' %}{% endif %}" 
                            alt="delete" width="50px" height="50px" class="delete-icon" data-id="{{ schedule.bookmark }}">
                </div>
                {% endfor %}
                <div class="folder-item" id="plus-schedule">
                    <img src="
                            {% if settings.is_white_theme %}{% static 'images/plus_light.png' %}
                            {% else %}{% static 'images/plus_dark.png' %}{% endif %}" 
                            alt="plus" width="50px" height="50px">
                    &nbsp;&nbsp;&nbsp;&nbsp;새 폴더
                </div>
            </div>
        </div>

        <div class="toggle-button" id="toggleButton"><&nbsp;</div>
    </div>
</div>
