<head>
    {% load static %}
    <title>Favorites</title>
    <link rel="stylesheet" href="{% static 'css/favorites.css' %}">
</head>

<div class="container" id="favoritesPanel">
    <div class="panel">
        <h2>Favorites</h2>

        <!-- 상단 “장소”, “일정” 버튼 -->
        <div class="top-menu">
            <button id="placeBtn">장소</button>
            <button id="scheduleBtn">일정</button>
        </div>

        <!-- (A) 장소 UI -->
        <div id="placesSection" style="display: block;">
            <div class="folder-list">
                {% for place in places %}
                <div class="folder-item">
                    <img src="{% static 'images/folder.png' %}" alt="folder" width="50px" height="50px">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ place.title }}
                    <img src="{% static 'images/delete.png' %}" alt="delete" width="50px" height="50px" class="delete-icon" data-id="{{ place.bookmark }}">
                </div>
                {% empty %}
                <p>저장된 장소가 없습니다.</p>
                {% endfor %}
                <!-- 새로운 폴더 만들기 버튼 -->
                <div class="folder-item" id="plus-place">
                    <img src="{% static 'images/plus.png' %}" alt="plus" width="50px" height="50px">
                    &nbsp;&nbsp;&nbsp;&nbsp;새 폴더
                </div>
            </div>
        </div>

        <!-- (B) 일정 UI -->
        <div id="scheduleSection" style="display: none;">
            <div class="folder-list">
                {% for schedule in schedules %}
                <div class="folder-item">
                    <img src="{% static 'images/schedule.png' %}" alt="schedule" width="50px" height="50px">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ schedule.title }}
                    <img src="{% static 'images/delete.png' %}" alt="delete" width="50px" height="50px" class="delete-icon" data-id="{{ schedule.bookmark }}">
                </div>
                {% empty %}
                <p>저장된 일정이 없습니다.</p>
                {% endfor %}
                <!-- 새로운 일정 만들기 버튼 -->
                <div class="folder-item" id="plus-schedule">
                    <img src="{% static 'images/plus.png' %}" alt="plus" width="50px" height="50px">
                    &nbsp;&nbsp;&nbsp;&nbsp;새 폴더
                </div>
            </div>
        </div>
    </div>
</div>
