<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<div class="container" style="display: flex; height: 100vh; overflow: hidden;">
    <!-- 채팅창 -->
    <div class="content1">
        <div id="chat-header">
            Chat
        </div>
        <div id="chat-messages">
            <!-- 메시지가 여기에 추가됩니다 -->
        </div>
        <div class="input-container">
            <textarea id="input_bar" class="input-bar" autocomplete="off" maxlength="255" rows="6" placeholder="Type your message..."></textarea>
        </div>
    </div>

    <!-- 지도 -->
    <div id="map"></div>
</div>
