<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<div class="container">
    <div class="panel" id="profilePanel">
        <h2>
            {% if settings.country_id == "US" %}Profile
            {% elif settings.country_id == "KR" %}내 프로필
            {% elif settings.country_id == "JP" %}プロフィール
            {% elif settings.country_id == "CN" %}轮廓{% endif %}
        </h2>
        
        <!-- 테마 선택 -->
        <div class="section">
            <div class="section-child">
                <!-- 프로필 이미지 -->
                <div class="profile-image">
                    <img 
                        id="profile-image" 
                        src="{% if profile_user.thumbnail_id %}{% static 'images/profiles/profile_' %}{{ profile_user.thumbnail_id }}.jpg{% else %}{% static 'images/profile.png' %}{% endif %}" 
                        alt="Profile Image"
                        style="cursor: pointer;"
                    >
                </div>
                <!-- 팝업 창 -->
                <div id="image-popup" class="popup hidden">
                    <div class="popup-content">
                        <h3>
                            {% if settings.country_id == "US" %}Choose a Profile Image
                            {% elif settings.country_id == "KR" %}프로필 이미지 선택
                            {% elif settings.country_id == "JP" %}プロフィール画像を選択してください
                            {% elif settings.country_id == "CN" %}选择个人资料图片{% endif %}
                        </h3>
                        <div class="image-grid">
                            <!-- 10개의 기본 이미지 버튼 -->
                            {% for i in image_range %}
                            <img 
                                src="{% static 'images/profiles/profile_' %}{{ i }}.jpg" 
                                class="popup-image" 
                                data-id="{{ i }}" 
                                alt="Profile {{ i }}"
                            >
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- 닉네임 -->
                <div class="nickname-container">
                    <div class="nickname-wrapper">
                        <span id="nickname-text" class="nickname">{{ profile_user.nickname }}</span>
                        <input 
                            id="nickname-input" 
                            class="nickname hidden" 
                            type="text" 
                            value="{{ profile_user.nickname }}" 
                            maxlength="10"
                        >
                    </div>
                    <button id="edit-btn" class="edit-btn">
                        <img 
                            src="{% if settings.is_white_theme %}{% static 'images/edit_light.png' %}{% else %}{% static 'images/edit_dark.png' %}{% endif %}" 
                            data-light="{% static 'images/edit_light.png' %}" 
                            data-dark="{% static 'images/edit_dark.png' %}" 
                            alt="Edit"
                            style="width: 16px; height: 16px;"
                            class="edit-icon"
                        >
                    </button>
                </div>
            </div>            
        </div>

        <div class="section">
            <label>
                {% if settings.country_id == "US" %}Birthday
                {% elif settings.country_id == "KR" %}생년월일
                {% elif settings.country_id == "JP" %}生年月日
                {% elif settings.country_id == "CN" %}出生日期{% endif %}
            </label>
            <!-- profile_user.birthday가 datetime/date 필드라면, |date:"Y.m.d" 등으로 포맷 -->
            <p>{{ profile_user.birthday|date:"Y.m.d" }}</p>
        </div>
        
        <div class="section">
            <label>
                {% if settings.country_id == "US" %}Nationality
                {% elif settings.country_id == "KR" %}국적
                {% elif settings.country_id == "JP" %}国籍
                {% elif settings.country_id == "CN" %}国籍{% endif %}
            </label>
            <!-- country_id (e.g. "Korea") -->
            <p>{{ profile_user.country_id }}</p>
        </div>
        <div class="section">
            <label>
                {% if settings.country_id == "US" %}Gender
                {% elif settings.country_id == "KR" %}성별
                {% elif settings.country_id == "JP" %}性別
                {% elif settings.country_id == "CN" %}性别{% endif %}
            </label>
            <!-- 성별 표시 -->
            <p>
                {% if profile_user.gender == 1 %}
                    {% if settings.country_id == "US" %}Male
                    {% elif settings.country_id == "KR" %}남성
                    {% elif settings.country_id == "JP" %}男
                    {% elif settings.country_id == "CN" %}男性{% endif %}
                {% elif profile_user.gender == 2 %}
                    {% if settings.country_id == "US" %}Female
                    {% elif settings.country_id == "KR" %}여성
                    {% elif settings.country_id == "JP" %}女
                    {% elif settings.country_id == "CN" %}女性{% endif %}
                    Female
                {% else %}
                    {% if settings.country_id == "US" %}Other
                    {% elif settings.country_id == "KR" %}기타
                    {% elif settings.country_id == "JP" %}その他
                    {% elif settings.country_id == "CN" %}等等{% endif %}
                    Other
                {% endif %}
            </p>
        </div>
        <div class="section" style="height: 450px;">
        </div>

        <div class="section">            
            <span class="logout-btn">
                <a href="/logout/">                    
                    {% if settings.country_id == "US" %}Logout
                    {% elif settings.country_id == "KR" %}로그아웃
                    {% elif settings.country_id == "JP" %}ログアウト
                    {% elif settings.country_id == "CN" %}退出{% endif %}
                </a>
            </span>
        </div>

        <div class="toggle-button" id="toggleButton"><&nbsp;</div>
    </div>
</div>
