    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/settings.css' %}">
        <script src="{% static 'js/settings.js' %}" defer></script>
    </head>
    <div class="container" id="settingsPanel">
        <div class="panel">
            <h2 id="label_Settings">{% if settings.country_id == "US" %}Settings{% elif settings.country_id == "KR" %}설정{% elif settings.country_id == "JP" %}設定{% elif settings.country_id == "CN" %}环境{% endif %}</h2>

            <!-- 테마 선택 -->
            <div class="section">                
                <label id="label_theme">{% if settings.country_id == "US" %}Theme{% elif settings.country_id == "KR" %}테마{% elif settings.country_id == "JP" %}テーマ{% elif settings.country_id == "CN" %}主题{% endif %}</label>
                <div class="theme-options">
                    <!-- Light Theme -->
                    <div class="theme-item">
                        <label>
                            <div id="light" class="theme-box {% if settings and settings.is_white_theme %}selected{% endif %}"></div>
                            <div>
                                <span id="label_light">{% if settings.country_id == "US" %}Light{% elif settings.country_id == "KR" %}밝은 모드{% elif settings.country_id == "JP" %}明るい{% elif settings.country_id == "CN" %}光{% endif %}</span>
                                <input type="radio" name="theme" value="light" {% if settings and settings.is_white_theme %}checked{% endif %}>
                            </div>
                        </label>
                    </div>
                    <!-- Dark Theme -->
                    <div class="theme-item">
                        <label>
                            <div id="dark" class="theme-box {% if settings and not settings.is_white_theme %}selected{% endif %}"></div>
                            <div>
                                <span id="label_dark">{% if settings.country_id == "US" %}Dark{% elif settings.country_id == "KR" %}어두운 모드{% elif settings.country_id == "JP" %}暗い{% elif settings.country_id == "CN" %}黑暗的{% endif %}</span>
                                <input type="radio" name="theme" value="dark" {% if settings and not settings.is_white_theme %}checked{% endif %}>
                            </div>
                            </input>
                        </label>
                    </div>
                </div>
            </div>

            <!-- 언어 선택 -->
            <div class="section">
                <label id="label_language" for="language">{% if settings.country_id == "US" %}Language{% elif settings.country_id == "KR" %}언어{% elif settings.country_id == "JP" %}言語{% elif settings.country_id == "CN" %}语言{% endif %}</label>
                <select id="language" onchange="updateLanguage(this.value)">
                    <option value="US" {% if country_id == 'US' %}selected{% endif %}>English</option> 
                    <option value="KR" {% if country_id == 'KR' %}selected{% endif %}>한국어</option> 
                    <option value="JP" {% if country_id == 'JP' %}selected{% endif %}>日本語</option> 
                    <option value="CN" {% if country_id == 'CN' %}selected{% endif %}>简体字</option> 
                </select>
            </div>

            <!-- 연락처 -->
            <div class="section">
                <label id="label_contact">{% if settings.country_id == "US" %}Contact Us{% elif settings.country_id == "KR" %}연락처{% elif settings.country_id == "JP" %}お問い合わせ{% elif settings.country_id == "CN" %}接触{% endif %}</label>                
                <p>dinosaur@gmail.com</p>
            </div>

            <!-- 계정 삭제 -->
            <div class="section">                
                <span class="delete-btn" onclick="showPopup()">
                    {% if settings.country_id == "US" %}Delete Account{% elif settings.country_id == "KR" %}계정 삭제{% elif settings.country_id == "JP" %}アカウントの削除{% elif settings.country_id == "CN" %}删除帐户{% endif %}
                </span>
            </div>

            <div class="toggle-button" id="toggleButton"><&nbsp;</div>
        </div>
    </div>