/* style.css */

/* static/css/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    overflow: hidden; /* 스크롤 방지 */
}

.theme-box {
    border: 2px solid #000;
}

/* 어두운 테마 */
[data-theme="dark"] {
    background-color: #121212;
    color: #fff;
}

[data-theme="dark"] .theme-box {
    border: 2px solid #fff;
}

/* Sidebar 변경 */
[data-theme="dark"] .sidebar {
    background-color: #1e1e1e;
    color: #fff;
}

[data-theme="dark"] .sidebar button {
    color: white;
    background-color: transparent;
    border: none;
}

[data-theme="dark"] .sidebar button:hover {
    background-color: #333;
}

[data-theme="dark"] .sidebar button.active {
    background-color: #3a3a3a;
}

/* 채팅창 */
[data-theme="dark"] #chat-messages {
    background-color: #222;
    color: #ccc;
    border: 1px solid #444;
}

/* 팝업창 */
[data-theme="dark"] .popup-content {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}

/* 스크롤바 스타일 */
[data-theme="dark"] #chat-messages::-webkit-scrollbar-thumb {
    background-color: #555;
}

[data-theme="dark"] #chat-messages::-webkit-scrollbar-track {
    background-color: #2a2a2a;
}

.settings-panel {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
}

.settings-panel h1,
.settings-panel label {
    color: #333;
}

.settings-panel select,
.settings-panel button {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

.top-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

[data-theme="dark"] .top-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222;
    border-bottom: 1px solid #444;
    padding: 10px 0;
}

@font-face {
    font-family: 'Maruburi';
    src: url('/static/fonts/maruburi-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* 채팅 입력창 */
.input-bar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #4caf50;
    border-radius: 5px;
    resize: none; /* 사용자가 직접 크기 조정 불가 */
    height: 120px; /* 고정된 높이 (6줄) */
    min-height: 112px;
    overflow-y: auto; /* 스크롤바 표시 */
    transition: height 0.2s ease-in-out;
}

/* 스크롤바 스타일 */
.input-bar::-webkit-scrollbar {
    width: 8px;
}

.input-bar::-webkit-scrollbar-thumb {
    background-color: #4caf50;
    border-radius: 5px;
}

.input-bar::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* X 버튼이 보일 때 */
.input-bar:not(:empty) + .clear-btn {
    display: block;
}

/* 입력창 컨테이너 */
.input-container {
    margin: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
}

[data-theme="dark"] .input-container {
    margin: 10px;
    background-color: #222;
    border: 1px solid #444;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: visible;
    height: 99.8vh;
    width: 100%;
}

.sidebar {
    width: 80px; 
    border-right: 1px solid #ddd;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-right: 1px solid #444;
}

.sidebar button {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #ddd;
}

.sidebar button.active {
    background-color: rgb(4, 117, 244);
    color: rgb(255, 255, 255);
}

.sidebar .icon {
    font-size: 2rem;
    margin-bottom: 5px;
}

.content {
    flex-grow: 1;
    border-left: 1px solid #ddd;
}

.panel {
    transition: width 0.3s ease-in-out;
    /* transition: transform 0.3s ease; */
    position: relative;
    width: 400px;
    height: 99.8%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    background-color: #ffffff;
    z-index: 2;
}

[data-theme="dark"] .panel {
    position: relative;
    width: 400px;
    height: 99.8%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #222;
    background-color: #222;
}

.nav-btn.active {
    background-color: #ccc;  /* 더 짙은 회색 */
    cursor: default;         /* 일반 화살표로 */
    pointer-events: none;    /* 클릭 불가 */
    opacity: 0.8;            /* 살짝 투명도 줄여도 됨 */
}

.nav-btn br {
    font-size: 24px; /* 아이콘 크기만 조정 */
}

#chat-header {
    display: flex;
    justify-content: space-between; /* 양쪽 정렬 */
    align-items: center; /* 수직 정렬 */
    font-weight: bold;
    background: #ffffff;
    font-size: 1.5rem;
    color: #222;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

[data-theme="dark"] #chat-header {   
    display: flex;
    justify-content: space-between; /* 양쪽 정렬 */
    align-items: center; /* 수직 정렬 */
    font-weight: bold;
    border-bottom: 2px solid #222;
    background: #222;
    font-size: 1.5rem;
    color: #c1c1c1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

#map {
    display: block;
    position: relative;
    flex-grow: 1;
    transition: flex-grow 0.3s ease-in-out; /* 지도 크기 변경 애니메이션 */
    z-index: 1;
}

/* 메시지 목록 컨테이너 (유동적 크기) */
#chat-messages {
    flex-grow: 1; /* 채팅창이 유동적으로 늘어나도록 */
    overflow-y: auto; /* 메시지가 많아지면 스크롤 */
    display: flex;
    flex-direction: column;
    gap: 5px; /* 메시지 간격 */
    width: 100%; 
    height: calc(100% - 190px); /* 원하는 고정 높이 설정 */
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white; /* 채팅창 배경 */
}

/* 스크롤바 커스터마이징 */
#chat-messages::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

#chat-messages::-webkit-scrollbar-thumb {
    background-color: #4caf50; /* 스크롤바 색상 */
    border-radius: 5px; /* 스크롤바 모서리 둥글게 */
}

#chat-messages::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* 스크롤 트랙 색상 */
}

/* 팝업 배경 */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* 팝업 내용 */
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 팝업 버튼 */
.popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.popup-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.popup-button#confirm-delete {
    background-color: red;
    color: white;
}

.popup-button#cancel-delete {
    background-color: #ccc;
}

.bubble {
    display: inline-block;
    padding: 8px 12px;
    margin: 6px;
    border-radius: 12px;
    width: fit-content;
    word-wrap: break-word;
}

.bubble.user {
    background-color: #4caf50;
    color: white;
}

/* 왼쪽 (사용자) 말풍선 */
.left-bubble {
    background-color: #4caf50; /* 초록색 */
    color: #fff;
    margin-left: 10px; /* 왼쪽 간격 */
    margin-right: 40px; /* 오른쪽 간격 */
    align-self: flex-start; /* 왼쪽 정렬 */
    border-radius: 12px;
    padding: 8px 12px;
    white-space: pre-wrap; /* 공백과 줄 바꿈을 유지 */
    word-wrap: break-word; /* 긴 단어는 줄바꿈 */
    max-width: 80%; /* 최대 너비 제한 */
}

/* 오른쪽 (봇) 말풍선 */
.right-bubble {
    background-color: #eee; /* 연한 회색 */
    color: #333;
    margin-left: 40px; /* 왼쪽 간격 */
    margin-right: 10px; /* 오른쪽 간격 */
    align-self: flex-end; /* 오른쪽 정렬 */
    border-radius: 12px;
    padding: 8px 12px;
    white-space: pre-wrap; /* 공백과 줄 바꿈을 유지 */
    word-wrap: break-word; /* 긴 단어는 줄바꿈 */
    max-width: 80%; /* 최대 너비 제한 */
}

/* 아래로 이동 버튼 */
.scroll-to-bottom {
    position: absolute;      /* 위치를 자유롭게 조정할 수 있도록 absolute/fixed */
    bottom: 100px;          /* 화면 아래에서 100px 떨어짐 (입력창 위로) */
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    border-radius: 50%;      /* 둥근 원 */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
    border: none;
}

[data-theme="dark"] .scroll-to-bottom {
    position: absolute;      /* 위치를 자유롭게 조정할 수 있도록 absolute/fixed */
    bottom: 100px;          /* 화면 아래에서 100px 떨어짐 (입력창 위로) */
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
    border-radius: 50%;      /* 둥근 원 */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
    border: none;
}

/* 숨김 토글용 */
.hidden {
    display: none !important;
}

.toggle-button-hidden {
    display: none !important;
}

.header-buttons {
    display: flex;
    gap: 10px; /* 버튼 사이 간격 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-right: 10px;
}

.header-buttons img {
    width: 30px;
    height: 30px;
    cursor: pointer; /* 클릭 가능하게 */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 크기와 그림자 애니메이션 */
}

.header-buttons img:hover {
    transform: scale(1.2); /* 크기 1.2배로 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 살짝 그림자 추가 */
}

.title-container {
    flex-grow: 1; /* 제목이 남은 공간을 차지 */
}

.toggle-button {
    position: absolute;
    top: 45%;
    right: -30px;
    transform: translateY(-50%);
    background-color: white;
    color: #333;
    width: 30px;
    height: 50px;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

[data-theme="dark"] .toggle-button {
    position: absolute;
    top: 45%;
    right: -30px;
    transform: translateY(-50%);
    background-color: #222;
    color: white;
    width: 30px;
    height: 50px;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* 로딩 애니메이션 스타일 */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.loader span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    animation: loader-animation 1.2s infinite ease-in-out;
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loader-animation {
    0%, 80%, 100% {
        transform: scale(0.5);
        opacity: 0.3;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
}

#map-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    z-index: 1; 
}

#map {
    flex-grow: 1; /* 지도는 남은 공간을 채운다 */
    position: relative;
    background-color: #e0e0e0; /* 지도 대체용 색상 */
    z-index: 1;
    height: 100%;
}

#map-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%; /* 기본 높이 */
    background-color: white;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: auto;
    z-index: 1;
    overflow: hidden; 
}

[data-theme="dark"] #map-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%; /* 기본 높이 */
    background-color: #222;
    color: white;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: auto;
    z-index: 1;
}

#drag-handle {
    width: 100%;
    height: 15px;
    background-color: #ccc;
    cursor: ns-resize; /* 상하 드래그 커서 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.map-panel-content {
    flex: 1; 
    overflow-y: auto; 
    padding: 10px; 
}

#day-button-container {
    position: absolute;
    top: -15px;
    left: 10px;
    display: flex;
    gap: 10px; /* 버튼 간격 */
    z-index: 100; /* 매우 높은 값으로 설정 */
    pointer-events: auto; /* 클릭 이벤트 활성화 */
}

.dynamic-panel {
    border: 2px solid black;
    color: black;
}

.meal-section {
    border: 2px solid black;
    border-radius: 25px;
    color: black;
    margin-bottom: 10px;
}

[data-theme="dark"] .meal-section {
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    margin-bottom: 10px;
}

.meal-section h4 span {
    color: black;
    padding: 5px;
}

[data-theme="dark"] .meal-section h4 span {
    color: white;
    padding: 5px;
}

.dynamic-section h5 span {
    padding: 10px;
}

.dynamic-section ul li {
    padding: 10px;
}

#button-panel {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 30px;
}

#button-panel button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    color: #222;
    border: none;
}

[data-theme="dark"] #button-panel button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #222;
    color: white;
    border: none;
}

.place-section {
    border: 2px solid black;
    border-radius: 25px;
}

[data-theme="dark"] .place-section {
    border: 2px solid white;
    border-radius: 25px;
}

.button-container button{
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #222;
    background-color: white;
}

[data-theme="dark"] .button-container button{
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    color: white;
    background-color: #222;
}

#bookmarklist-div {
    position: absolute;
    bottom: -700px; /* 시작 위치: 아래에 숨김 */
    left: 80px;
    width: 400px;
    height: 700px; /* 파란 부분의 높이와 동일하게 설정 */
    background-color: rgba(0, 0, 0, 0.95); /* 반투명 배경 */
    transition: bottom 0.5s ease-in-out; /* 부드러운 애니메이션 */
    z-index: 100; /* 다른 요소 위로 */
}

#bookmarklist-div.active {
    bottom: 0; /* 최종 위치: 위로 올라옴 */
}

#closeBookmarkListBtn {
    background-color: transparent;
    border: none; 
    color: white; 
    font-weight: bold; 
    font-size: 20px;
}

.bookmark_item {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px;
}

.bookmark_item p{
    margin: 0; 
    font-size: 16px; 
    font-weight: bold;
}

.bookmark_item div, button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.bookmark_item button{
    margin-left: auto;
    background: none; 
    border: none; 
    cursor: pointer;
    margin-right: 25px;
}

.button_active div{
    background-color: white; 
    cursor: pointer;
}

.button_active span{
    font-size: 27px; 
    color: #222; 
    cursor: pointer;
}

.button_active p{
    cursor: pointer;
    color: white;
}

.button_inactive div{
    background-color: #666; 
    cursor: pointer;
}

.button_inactive span{
    font-size: 27px; 
    color: #222; 
    cursor: pointer;
}

.button_inactive p{
    cursor: pointer;
    color: #666;
}
